@font-face {
  font-family: 'ProstoOne';
  src: url('fonts/ProstoOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaBook';
  src: url('fonts/futuraBook.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaDemi';
  src: url('fonts/futuraDemi.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('fonts/futuraMedium.ttf') format('truetype');
}