// @import 'utils/variables.scss';
// @import 'utils/globalClass.scss';

.footer {
    margin-bottom: 0;
    background-color: #fff;
    padding: 16% 0;
    &_inner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    &_info {
        max-width: 593px;
        height: auto;
    }
    &_title{
        margin-bottom: 20px;
    }

    &_parners {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12%;
        overflow-x: scroll;
    }
}

@media(max-width:800px){
    .footer{
        &_info{
            padding: 0 20px;
        }
    }
}