// @import 'utils/variables.scss';
// @import 'utils/globalClass.scss';

// ===BILLBOARD===

.billboard {
	margin-bottom: 2rem;
	width: 100%;
	height: 100dvh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	background-image: url("images/solutionsBg3.png");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;

	&_content {
		display: block;
		max-width: 672px;
		height: auto;
	}

	&_title {
		margin-bottom: 58px;
	}

	&_text {
		margin-bottom: 58px;
	}
}

// ===CASS===

.cases {
	width: 100%;
	height: 100dvh;
	&_content {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	&_info {
		max-width: 517px;
		margin-bottom: 108px;
	}

	&_item_list {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}

	&_item {
		max-width: 568px;
		max-height: 638px;
		border-radius: 20px;
		position: relative;
		background: #fff;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	&_item_title {
		font-size: clamp(1rem, 4vw, 36px) !important;
	}

	&_item_text {
		font-size: clamp(1rem, 3vw, 24px) !important;
	}

	&_item_img_wrap {
		padding: 12%;
		width: 100%;
		max-height: 426px;
		border-radius: 20px 20px 0 0;
	}

	&_item_img_wrap.first {
		background: #fff3eb;
	}

	&_item_img_wrap.last {
		background-color: #ededff;
	}

	&_item_img {
		width: 100%; // сделать адаптивный контейнер
		height: auto;
		margin: 0 auto;
		border-radius: 8px;
	}

	&_item_title {
		font-family: "FuturaDemi";
		font-weight: 600;
		font-size: 36px;
		line-height: 133%;
		letter-spacing: 0em;
		margin-bottom: 8px;
		color: #333;
	}

	&_item_text {
		font-family: "FuturaBook";
		font-weight: 400;
		font-size: 24px;
		line-height: 0%;
		color: #6b6b6b;
	}

	&_item_desc {
		width: 100%;
		height: 100%;
		padding: 12%;
	}
}

@media (max-width: 800px) {
	.cases {
		&_item_list {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
		}
		&_item {
			margin: 0 auto;
		}
		&_info {
			margin-bottom: 12%;
		}
	}
}

// ===OFER===

.ofer {
	width: 100%;
	height: auto;
	position: relative;

	&_ellipseBg {
		position: absolute;
		left: 0;
		top: 12%;
		z-index: -1;
	}

	&_info {
		width: 100%;
		height: auto;
		text-align: center;
	}
	&_info_note {
		margin-bottom: 28px;
	}

	&_info_title {
		margin-bottom: 34px;
	}

	&_info_text {
		margin-bottom: 86px;
	}

	&_items {
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: repeat(2, minmax(280px, 500px));
		grid-template-rows: repeat(2, minmax(380px, 44vw));
		gap: 40px;
		justify-content: center;
	}
	&_item {
		max-width: 500px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		padding: 16%;
		border: 1px solid #e3e6e9;
		border-radius: 40px;
		transition: all 0.3s;
		&:hover {
			background-color: #4c40f7;
			transition: all 0.3s;
			h2,
			p {
				color: #fff;
			}
			.btnJet__blue {
				background-color: #fff;
				color: #4c40f7;
			}
		}
	}

	&_item_title {
		font-family: "FuturaMedium" !important;
	}
}
@media (max-width: 800px) {
	.ofer {
		&_items {
			gap: 20px;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, minmax(380px, 44vw));
		}
		&_item {
			margin: 0 auto;
			height: 380px;
			padding: 8%;
		}
	}
}

@media (max-width: 400px) {
	.ofer {
		&_item {
			padding: 14%;
		}
		&_item_text {
			margin: 30px 0;
		}
	}
}

// ===WEWORK===

.work {
	width: 100%;
	height: auto;
	background-image: url("images/workBG2.png");
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&_content {
		max-width: 1040px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 8% 0;
		gap: 30px;
	}
	&_slider_menu {
		width: 150px;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
	}

	&_slide_title {
		font-size: clamp(1rem, 2vw, 20px) !important;
		color: #fff;
	}

	&_slide_pages {
		display: flex;
	}
	&_slide_line {
		width: 40px;
		height: 1px;
		display: block;
		background-color: #fff;
		margin: 0 26px;
	}
	&_slide_page {
		font-family: "FuturaDemi";
		font-weight: 600;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.03em;
		color: #fff;
		position: relative;
		top: -8px;
	}

	&_slide_btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
	&_slide_btn:first-child {
		margin-right: 17px;
	}

	&_info_wrap {
		max-width: 770px;
	}
	&_info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 140px;
	}

	&_info_wrap {
		width: 100%;
	}

	&_info_title {
		color: #fff;
		margin-bottom: 36px;
	}
	&_info_text {
		color: #fff;
	}
	&_items {
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: 30px;
	}
	&_item {
		max-width: 324px;
		height: auto;
	}

	&_item:last-child {
		margin-right: 0;
	}
	&_item_title {
		font-size: clamp(1.2rem, 2vw, 24px) !important;
		color: #fff;
		margin-bottom: 30px;
	}
	&_item_text {
		font-size: clamp(0.6rem, 2vw, 20px) !important;
		color: #939396;
	}
}

@media (max-width: 800px) {
	.work {
		&_content {
			flex-direction: column;
			gap: 0;
		}
		&_slider_menu {
			order: 1;
			flex-direction: row;
			width: 100%;
			height: 100%;
			justify-content: space-between;
			align-items: center;
			margin-right: 0;
		}
		&_slide_pages {
			margin: 30px 0;
		}
		&_info_wrap {
			text-align: center;
		}
		&_info {
			justify-content: center;
			align-items: center;
			margin-bottom: 14%;
		}
	}
}

@media (max-width: 500px) {
	.work {
		&_items {
			flex-direction: column;
			align-items: center;
		}
		&_slider_menu {
			flex-direction: column;
			align-items: center;
			height: 100%;
		}
	}
}

// ===SLIDER===
.slider {
	width: 100%;
	height: 100dvh;
	position: relative;
	overflow: hidden;
	display: flex;
}

.slide {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slide.active {
	opacity: 1;
}

.slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

// ===solutins===

.solutions {
	width: 100%;
	height: auto;
	margin-bottom: 0;

	&_content {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&_info {
		max-width: 400px;
		text-align: center;
		margin-bottom: 234px;
	}

	&_info_title {
		font-weight: 500;
		font-size: 24px;
		line-height: 141%;
		text-align: center;
		color: #333;
	}

	&_list_item {
		margin-bottom: 130px;
	}

	&_item {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: auto;
		margin-bottom: 18%;
		gap: 30px;
	}
	&_item:nth-child(even) {
		.solutins_item_info {
			order: 1;
		}
	}

	&_item_info {
		width: 40%;
		height: 100%;
	}

	&_item_title {
		margin-bottom: 36px;
	}

	&_item_text {
		margin-bottom: 61px;
		max-width: 446px;
	}

	&_item_images_wrap {
		max-width: 480px;
		height: auto;
	}

	&_item_images {
		position: relative;
		max-width: 452px;
		max-height: 530px;
	}

	&_item_image_back {
		width: 100%;
		height: 100%;
	}

	&_item_image_front {
		position: absolute;
		border-radius: 14px;
		max-width: 60%;
		max-height: 305px;
		bottom: -50px;
		right: -30px;
		box-shadow: -16px 14px 30px 0 rgba(0, 0, 0, 0.25);
	}
}

@media (max-width: 800px) {
	.solutions {
		&_item_info {
			width: 100%;
			display: flex;
			text-align: center;
			align-items: center;
			flex-direction: column;
		}
		&_item {
			flex-direction: column;
			align-items: center;
		}
		&_info {
			margin-bottom: 14%;
		}
		&_item_images_wrap {
			margin-bottom: 40px;
		}
		&_item_images {
			padding-right: 8%;
		}
		&_item_image_front {
			right: 0;
		}
		&_item_text {
			max-width: max-content;
		}
		&_list_item {
			margin-bottom: 14%;
		}
	}
}
